<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>営業地図</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- page content -->
    <h2>さいたま市居宅地図</h2>
    <div>
      <a href="/maps/nishi_saitama_city_kyotaku">西区居宅地図</a>
    </div>
    <div>
      <a href="/maps/kita_saitama_city_kyotaku">北区居宅地図</a>
    </div>
    <div>
      <a href="/maps/omiya_saitama_city_kyotaku">大宮区居宅地図</a>
    </div>
    <div>
      <a href="/maps/minuma_saitama_city_kyotaku">見沼区居宅地図</a>
    </div>
    <div>
      <a href="/maps/chuo_saitama_city_kyotaku">中央区居宅地図</a>
    </div>
    <div>
      <a href="/maps/sakura_saitama_city_kyotaku">桜区居宅地図</a>
    </div>
    <div>
      <a href="/maps/urawa_saitama_city_kyotaku">浦和区居宅地図</a>
    </div>
    <div>
      <a href="/maps/minami_saitama_city_kyotaku">南区居宅地図</a>
    </div>
    <div>
      <a href="/maps/midori_saitama_city_kyotaku">緑区居宅地図</a>
    </div>
    <div>
      <a href="/maps/iwatsuki_saitama_city_kyotaku">岩槻区居宅地図</a>
    </div>
    <div>
      <a href="/maps/saitama_city_kyotaku">すべての居宅地図</a>
    </div>
  </body>
</html>