<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{#    <p>{{ url_for('static', path=geojson_path) }}</p>#}
    <div
            id="map"
            data-geojson="{{ geojson_path }}"
            data-cluster="off"
            data-fullscreen-control="on"
    ></div>

    <script type="text/javascript" src="https://cdn.geolonia.com/v1/embed?geolonia-api-key=YOUR-API-KEY"></script>
    <script type="text/javascript" src="/static/js/map_export_bundle.js"></script>
    
    <!-- <script>
        map.addControl(new MaplibreExportControl({
            PageSize: Size.A4,
            PageOrientation: PageOrientation.Portrait,
            Format: Format.PNG,
            DPI: DPI[96],
            //Crosshair: true,
            PrintableArea: true,
            Local: 'en'
        }), 'top-right');
    </script> -->
</body>]
</html>
